<container class="">
  <div class="row">
    <div class="small-12 columns contact">
      <div class="contact-info">
        <h1>Contact</h1>
          <p class="inline-block left"><strong><a href="mailto:unfollowback1@gmail.com?Subject=Unfollowback%20question" target="_top">Email us!</a></strong></p>
          <p class="inline-block"><strong><%= link_to "Check out our Twitter", ("http://twitter.com/unfollowback_us"), target: :_blank %></td></strong></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns faqs">
      <h1>FAQs</h1>
        <strong>What is following? What are <i>followers</i>?</strong>
          <p>Check out this <%= link_to "Twitter Page", "https://support.twitter.com/articles/14019" %> to learn more about how it all works.</p>
        <strong>What is a <i>golden rate</i>?</strong>
          <p>Your golden rate is a numeric representation of the number of followers you have, compared to the number of accounts you are following(followees). If the number is equal to or greater than 1.0, <span class="green"><strong>(green)</strong></span>, you have more followers than accounts you are following. If it is less than 1.0, <span class="red"><strong>(red)</strong></span>, you have fewer followers than accounts you are following. Most people strive to have their rate "<span class="green"><strong>in the green</strong></span>."</p>
        <strong>What are <i>nonfollowers</i>?</strong>
          <p>Nonfollowers are accounts you follow that don't follow you back. You are a groupie of this account.</p>
        <strong>What are <i>groupies</i>?</strong>
          <p>Groupies are accounts that follow you, but that you don't follow back. You are a nonfollower of your groupies.</p>
        <strong>Will this effect my Twitter at all?</strong>
          <p>By clicking the "Follow" or "Unfollow" button, that action will be taken on your Twitter account.</p>
        <strong>Why do you need all of these permissions? What are you doing with my information?</strong>
          <p>Twitter requires that we ask for permission for A LOT of information, even when we only need a little bit. Will we ever tweet or message someone for you? NO. We only gather the list of your "followers" and "following" and your profile picture. We will only  take the "follow" or "unfollow" actions for you if you click the respective button. That's it!</p>
        <strong>Are other users notified when I click "follow" or "unfollow"?</strong>
          <p>Yes and no. When you click "follow", the user will be notified by Twitter, which is standard. When you click "unfollow", they will not be notified. </p>
    </div>
  </div>
</container>
