<container class="">
  <div class="faqs">
    <h1>FAQs</h1>
    <ul>
      <li><strong>What is following? What are <i>followers</i>?</strong></li>
        <p>Check out this <%= link_to "Twitter Page", "https://support.twitter.com/articles/14019" %> to learn more about how it all works.</p>
      <li><strong>What is a <i>golden ratio</i>?</strong></li>
        <p>Your golden ratio is a representation of the number of followers you have, compared to the number of accounts you are following. The number on the left of the colon is how many followers you have for every one account that you are following. </p>
      <li><strong>What are <i>nonfollowers</i>?</strong></li>
        <p>Nonfollowers are accounts you follow that don't follow you back. You are a groupie of this account.</p>
      <li><strong>What are <i>groupies</i>?</strong></li>
        <p>Groupies are accounts that follow you, but that you don't follow back. You are a nonfollower of your groupies.</p>
      <li><strong>Will this effect my Twitter at all?</strong></li>
        <p>By clicking the "Follow" or "Unfollow" button, that action will be taken on your Twitter account.</p>
      <li><strong>Why do you need all of these permissions? What are you doing with my information?</strong></li>
        <p>Twitter requires that we ask for permission for A LOT of information, even when we only need a little bit. Will we ever tweet or message someone for you? NO. We only gather the list of your "followers" and "following" and your profile picture. We will only  take the "follow" or "unfollow" actions for you if you click the respective button. That's it!</p>
      <li><strong>Are other users notified when I click "follow" or "unfollow"?</strong></li>
        <p>Yes and no. When you click "follow", the user will be notified by Twitter, which is standard. When you click "unfollow", they will not be notified. </p>
    </ul>
  </div>
  <div class="contact-info">
    <h1>Contact Information</h1>
    <ul>
      <li><strong><a href="mailto:unfollowback1@gmail.com?Subject=Unfollowback%20question" target="_top">Email us!</a></strong></li>
      <li><strong><%= link_to "Check out our Twitter", ("http://twitter.com/unfollowback_us"), target: :_blank %></td></strong></li>
    </ul>
  </div>
</container>
