<% if !current_user.nil? %>

<h2>Nonfollowers: </h2>
    <table>
      <% @nonfollowers.each do |user| %>
        <%= user.screen_name %>
        <!-- <li><%#  user %></li> -->
      <% end %>
    </table>

    <h2>Accounts you don't follow back: </h2>
    <table>
      <tr>
        <th>Handle</th>
        <th></th>
      </tr>
      <% @your_non_followers.each do |user| %>
        <td><%= user.screen_name %></td>
        <tr>
          <!-- <td><%# user %></td> -->
          <td></td>
        </tr>
      <% end %>
    </table>
<% else %>
    <p>You must log in.</p>
<% end %>
