<% if !current_user.nil? %>
    <h2> Your followers: </h2>
    <!-- <p> @followers.count </p> -->
    <ol>
      <% @followers.each do |user| %>
        <%#  user.screen_name %>
        <li><%=  user %></li>
      <% end %>
    </ol>

    <h2> Users you Follow: </h2>
    <ol>
      <% @following.each do |user| %>
        <%#  user.screen_name %>
        <li><%= user %></li>
      <% end %>
    </ol>


    <h2>Nonfollowers: </h2>
    <table>
      <% @nonfollowers.each do |user| %>
        <%# user.screen_name %>
        <li><%=  user %></li>
      <% end %>
    </table>

    <h2>Accounts you don't follow back: </h2>
    <table>
      <tr>
        <th>Handle</th>
        <th></th>
      </tr>
      <% @your_non_followers.each do |user| %>
        <%# user.screen_name %>
        <tr>
          <td><%= user %></td>
          <td></td>
        </tr>
      <% end %>
    </table>
<% else %>
    <p>You must log in.</p>
<% end %>
