<% if !current_user.nil? %>

<h2>Don't Follow You Back: </h2>
    <table>
      <tr>
        <th>Handle</th>
        <th>User ID</th>
      </tr>
      <% @nonfollowers.each do |user| %>
        <tr>
          <td><%= user.screen_name %></td>
          <td><%= user.id %></td>
        </tr>
      <% end %>
    </table>

    <h2>You Don't Follow Back: </h2>
    <table>
      <tr>
        <th>Handle</th>
        <th>User ID</th>
        <th></th>
      </tr>
      <% @your_non_followers.each do |user| %>
        <tr>
          <td><%= user.screen_name %></td>
          <td><%= user.id %></td>
        </tr>
      <% end %>
    </table>
<% else %>
    <p>You must log in.</p>
<% end %>
