/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('foundation.css');


img {
  border-radius: 25%;
}

div .follow-button {
  border-radius: 8px;
  border-color: white;
  border-width: thin;
  font-weight: bold;
  background-color: #00aced;
  color: white;
  padding: 10px;
}

div .unfollow-button {
  border-radius: 8px;
  border-color: white;
  border-width: thin;
  font-weight: bold;
  background-color: red;
  color: white;
  padding: 10px;
}

#ratio-block {
  border: 5px solid gold;
  background-color: gold;
  border-radius: 8px;
  text-align: center;
}

#f-data {
  margin: 5%;

}

.list {
  border: 5px solid #00aced;
  border-radius: 8px;
  padding-left: 0px;
  padding-right: 0px;
}

td {
  text-align: center;
  border-radius: 8px;
}

.header {
  text-align: center;
  background-color: #00aced;
  padding: 0px;
}
