/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('foundation.css');

*, #user-name, header, footer, td, h4, p, .header, div .follow-button, div .unfollow-button {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

img {
  border-radius: 25%;
}

div .follow-button {
  border-radius: 8px;
  border-color: white;
  border-width: thin;
  font-weight: bold;
  background-color: #00aced;
  color: white;
  padding: 10px;
}

div .unfollow-button {
  border-radius: 8px;
  border-color: white;
  border-width: thin;
  font-weight: bold;
  background-color: red;
  color: white;
  padding: 10px;
}

#f-data {
  margin-top: 5%;
padding: 10px;
background-color: white;
border: solid 1px #D0D0D0;
border-radius: 8px;

}

.list {
  border: 3px solid #00aced;
  border-radius: 8px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5%;
}

td {
  text-align: center;
}

.header {
  text-align: center;
  background-color: #00aced;
  padding: 0px;
}

h4 {
  text-align: center;
  background-color: white;
}

.name {
  font-size: 1.5em;
}

h2 {
  margin: 0;
}

h4 p {
  padding: 0;
  margin: 0;
  text-decoration: none;

}

.bird {
  height: 15%;
  width: 15%;
}

.white-bird {
  height: 10%;
  width: 10%;
}

body {
  background-color: #c0deed;
}

header {
  padding: 20px 30px 60px 30px;
  height: 20%;
  background: url("http://abs.twimg.com/images/themes/theme1/bg.png") no-repeat scroll left bottom;
}

table {
  background-color: white;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 8px;
}

tr, td {
  background-color: white;
}

#sign_out {
  float: right;
  text-align: right;
  font-size: 1.25em;
}

#signed-in {
  float: left;
  text-align: left;
  padding-left: 0;
  font-size: 1.5em;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding-top: 3px;
}

.hover:hover {
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
}
